{{ define "cc_email_receiver.KubernikusKlusterLowOnObjectStoreQuota" }}
<html>
<head>
<title>{{ .CommonAnnotations.summary}}</title>
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">

    <p>Dear Converged Cloud customer,</p>
    <p>the project {{ .CommonLabels.domain }}/{{ .CommonLabels.project }} has {{ .CommonAnnotations.storage_left}} of object-store capacity left.</p> 
    <a href="{{ .CommonAnnotations.dashboard_url}}">{{ .CommonAnnotations.dashboard_url}}</a>
    <p>The kubernetes cluster {{ .CommonLabels.shortname }} relies on the object store to continously backup its etcd data. If the quota is exhausted the backup will fail and recovering the cluster from data loss or corruption will be impossible. For the correct functionining of the provisioned cluster please make sure you always have >200MB of object-store capacity available.</p>
    <p>Kind regards,</p>
    <p>Converged Cloud support team</p>

</body></html>
{{ end }}
