*                                                      @BugRoger @databus23 @dhoeller @edda @geisslet @FabianKroenner @artherd42 @martinpink
/.github/CODEOWNERS                                    @BugRoger @databus23 @dhoeller @edda @geisslet @FabianKroenner @artherd42 @martinpink

/ci                                                    @auhlig @Kuckkuck @businessbean @jknipper @fwiesel

/common/helm3-helper                                   @SchwarzM  # old
/common/inventory-updater                              @BerndKue @stanislav-zaprudskiy
/common/linkerd-support                                @majewsky @SuperSandro2000 @viennaa
/common/manila-provisioner                             @jknipper  # old
/common/mariadb                                        @galkindmitrii @stefanhipfel @Carthaca @IvoGoman @fwiesel
/common/memcached                                      @auhlig @businessbean @majewsky @SuperSandro2000 @bashar-alkhateeb
/common/mysql_metrics                                  @galkindmitrii @Carthaca
/common/nats                                           @notandy
/common/owner-info                                     @majewsky @SuperSandro2000
/common/pgbackup                                       @majewsky @SuperSandro2000 @ArtieReus @VoigtS
/common/pgmetrics                                      @majewsky @SuperSandro2000 @VoigtS
/common/postgresql                                     @majewsky @fwiesel @auhlig @VoigtS @SuperSandro2000
/common/postgresql-ng                                  @SuperSandro2000 @majewsky @stanislav-zaprudskiy @jknipper @stefanhipfel
/common/postgresql-ng-test                             @SuperSandro2000 @majewsky
/common/postgresql-test                                @majewsky @SuperSandro2000
/common/prometheus-alertmanager-base                   @auhlig @viennaa @uwe-mayer @majewsky @richardtief
/common/prometheus-monitors                            @IvoGoman
/common/prometheus-pushgateway                         @viennaa @majewsky
/common/prometheus-server                              @auhlig @viennaa @databus23 @richardtief @defo89
/common/prometheus-server-pre7                         @viennaa @richardtief @majewsky @auhlig @defo89
/common/rabbitmq                                       @galkindmitrii @fwiesel @Carthaca @bashar-alkhateeb @dusandordevicsap
/common/rabbitmq_cluster                               @galkindmitrii @notandy @defo89
/common/redis                                          @SuperSandro2000 @majewsky @auhlig @VoigtS @fwiesel
/common/staging/rabbitmq                               @majewsky @notandy @Carthaca  # old
/common/thanos                                         @viennaa @richardtief @majewsky @SuperSandro2000

/global/andromeda                                      @notandy @majewsky
/global/bootcfg                                        @BugRoger  # old
/global/ccloud-hedgedoc                                @majewsky @SuperSandro2000 @sebageek
/global/chartmuseum-sapcc                              @auhlig @majewsky @SuperSandro2000
/global/concourse-main                                 @jknipper @majewsky @SuperSandro2000 @andypf
/global/concourse-worker                               @databus23 @kayrus  # old
/global/geminabox                                      @databus23
/global/gh-actions                                     @notandy @auhlig
/global/git-cert-shim                                  @majewsky @auhlig
/global/kibana-objecter                                @dimtass
/global/oauth-proxy                                    @andypf @majewsky @ArtieReus @databus23
/global/percona_cluster                                @galkindmitrii @defo89
/global/prometheus-alertmanager-cnmp                   @auhlig @majewsky
/global/prometheus-alertmanager-operated               @geisslet @auhlig @uwe-mayer @viennaa @majewsky
/global/prometheus-infra                               @artherd42 @Kuckkuck @viennaa @richardtief @BerndKue
/global/prometheus-uber                                @auhlig  # old
/global/schedules2slack                                @geisslet
/global/slack-alert-reactions                          @uwe-mayer
/global/supernova                                      @andypf @majewsky @ArtieReus @auhlig @databus23
/global/thanos-global                                  @viennaa @richardtief
/global/vault                                          @BugRoger  # old
/global/vault-tec                                      @Nuckal777
/global/volta                                          @dimtass @databus23
/global/wham                                           @databus23

/openstack/andromeda-seed                              @notandy @majewsky
/openstack/arc                                         @databus23 @ArtieReus @majewsky @SuperSandro2000 @fwiesel
/openstack/archer                                      @notandy @majewsky
/openstack/backup-replication                          @majewsky @SuperSandro2000 @VoigtS
/openstack/barbican                                    @galkindmitrii @fwiesel @majewsky @rajivmucheli @bashar-alkhateeb
/openstack/baremetal-temper                            @majewsky @databus23 @fwiesel @BerndKue
/openstack/bastion                                     @majewsky @fwiesel
/openstack/billing                                     @majewsky
/openstack/blackbox                                    @artherd42 @majewsky @fwiesel @m-kratochvil
/openstack/castellum                                   @majewsky @SuperSandro2000 @VoigtS @richardtief
/openstack/cbshelf                                     @corey-aloia @majewsky
/openstack/cc3test                                     @artherd42 @thgrs @ashifnihalb @majewsky @Carthaca
/openstack/cc3test-seeds                               @artherd42 @thgrs @fwiesel
/openstack/cerebro                                     @viennaa @majewsky
/openstack/cinder                                      @joker-at-work @hemna @fwiesel @majewsky @dusandordevicsap
/openstack/content-repo                                @majewsky @SuperSandro2000 @talal @VoigtS
/openstack/cronus                                      @kayrus @dhalimi @corey-aloia @majewsky @fwiesel
/openstack/cronus-seed                                 @kayrus @dhalimi @majewsky
/openstack/db-backup-v2                                @databus23 @fwiesel
/openstack/designate                                   @galkindmitrii @fwiesel @majewsky @mutax @kpawar-sap
/openstack/designate-nanny                             @mutax
/openstack/domain-seeds                                @BerndKue @majewsky @Carthaca @fwiesel @Kuckkuck @rajivmucheli
/openstack/elektra                                     @andypf @majewsky @databus23 @ArtieReus @hgw77
/openstack/glance                                      @fwiesel @galkindmitrii @majewsky @rajivmucheli @Carthaca
/openstack/grafanasix                                  @thgrs @majewsky @richardtief @SuperSandro2000 @notandy
/openstack/hermes                                      @Kuckkuck @majewsky @IvoGoman @fwiesel
/openstack/infra-seeds/kubernetes                      @BugRoger  # old
/openstack/ironic                                      @stefanhipfel @BerndKue @fwiesel @sandzwerg @majewsky
/openstack/keppel                                      @majewsky @SuperSandro2000 @VoigtS @geisslet
/openstack/keppel-trivy                                @SuperSandro2000 @majewsky @VoigtS
/openstack/keystone                                    @galkindmitrii @Carthaca @bbobrov @majewsky @fwiesel @rajivmucheli
/openstack/kos-operator                                @stefanhipfel @databus23
/openstack/kubernetes                                  @fwiesel
/openstack/kubernikus                                  @fwiesel @jknipper
/openstack/limes                                       @majewsky @SuperSandro2000 @fwiesel @VoigtS
/openstack/lyra                                        @databus23 @ArtieReus @majewsky @SuperSandro2000
/openstack/maia                                        @artherd42 @viennaa @richardtief @Kuckkuck @dhalimi
/openstack/manila                                      @Carthaca @chuan137 @galkindmitrii @majewsky @kpawar-sap
/openstack/manila-antelope                             @Carthaca @dusandordevicsap
/openstack/manila-nanny                                @chuan137 @Carthaca @dusandordevicsap
/openstack/nannies                                     @thgrs @chuan137 @Carthaca @fwiesel @kpawar-sap
/openstack/neutron                                     @notandy @fwiesel @sebageek @majewsky @sven-rosenzweig @rhalina @swagner-de @mutax @BenjaminLudwigSAP @m-kratochvil
/openstack/nova                                        @joker-at-work @fwiesel @grandchild @majewsky @leust
/openstack/octavia                                     @notandy @BenjaminLudwigSAP @fwiesel @majewsky @dusandordevicsap
/openstack/octobus                                     @majewsky @viennaa
/openstack/openstack-seeder                            @stefanhipfel @databus23 @fwiesel
/openstack/openstack_performance                       @misamoylov
/openstack/placement                                   @fwiesel @joker-at-work @bashar-alkhateeb @galkindmitrii
/openstack/poller                                      @dhalimi @corey-aloia
/openstack/prometheus-openstack                        @viennaa @artherd42 @richardtief @Kuckkuck @majewsky
/openstack/pyroscope                                   @fwiesel
/openstack/sap-seeds                                   @dhoeller @grandchild @frr2018 @joker-at-work @fwiesel
/openstack/sre                                         @artherd42 @fwiesel @rajivmucheli
/openstack/swift                                       @majewsky @SuperSandro2000 @talal @crenduchinta88
/openstack/swift-drive-autopilot                       @majewsky
/openstack/swift-utils                                 @majewsky @SuperSandro2000
/openstack/tempest/barbican-tempest                    @misamoylov @majewsky @fwiesel @rajivmucheli
/openstack/tempest/cinder-tempest                      @misamoylov @majewsky @fwiesel
/openstack/tempest/designate-tempest                   @misamoylov @majewsky @fwiesel
/openstack/tempest/glance-tempest                      @majewsky @misamoylov @fwiesel @rajivmucheli
/openstack/tempest/ironic-tempest                      @misamoylov @majewsky @fwiesel
/openstack/tempest/keystone-tempest                    @majewsky @misamoylov @fwiesel @rajivmucheli
/openstack/tempest/manila-tempest                      @kpawar-sap @misamoylov @majewsky @fwiesel
/openstack/tempest/neutron-tempest                     @misamoylov @majewsky @fwiesel
/openstack/tempest/nova-tempest                        @misamoylov @majewsky @fwiesel
/openstack/tempest/octavia-tempest                     @misamoylov @fwiesel @majewsky
/openstack/tempest/tempest-base                        @misamoylov @fwiesel @stefanhipfel
/openstack/trust-manager                               @fwiesel
/openstack/utils                                       @fwiesel @notandy @galkindmitrii @Carthaca @joker-at-work
/openstack/vcenter-operator                            @joker-at-work @fwiesel @majewsky @databus23
/openstack/vcf                                         @chuan137
/openstack/volume-claims                               @majewsky @fwiesel

/prometheus-exporters/apic-exporter                    @artherd42 @IvoGoman @geisslet
/prometheus-exporters/arista-exporter                  @BerndKue @stanislav-zaprudskiy @stefanhipfel
/prometheus-exporters/blackbox-exporter                @defo89 @databus23
/prometheus-exporters/cloudprober                      @artherd42 @defo89
/prometheus-exporters/cronus-exporter                  @dhalimi @majewsky @LimorGargir @richardtief @geisslet
/prometheus-exporters/cronus-openstack-alerts          @dhalimi
/prometheus-exporters/cronus-reporter                  @dhalimi
/prometheus-exporters/cronus-simulator                 @dhalimi @majewsky
/prometheus-exporters/cronus-updater                   @dhalimi @majewsky
/prometheus-exporters/documentation-prober             @dhalimi @majewsky  # old
/prometheus-exporters/event-exporter                   @jknipper @databus23 @Nuckal777
/prometheus-exporters/hermes-query-exporter            @Kuckkuck
/prometheus-exporters/ipmi-exporter                    @stefanhipfel @BerndKue @stanislav-zaprudskiy
/prometheus-exporters/ipmi-service-discovery           @auhlig @majewsky  # old
/prometheus-exporters/ironic-exporter                  @BerndKue @stefanhipfel
/prometheus-exporters/jumpserver-exporter              @viennaa
/prometheus-exporters/k8s-secrets-certificate-exporter @auhlig @majewsky @databus23 @jknipper
/prometheus-exporters/kube-state-metrics-exporter      @richardtief
/prometheus-exporters/kubelet-stats-metrics            @jknipper
/prometheus-exporters/masterdata-exporter              @databus23
/prometheus-exporters/netapp-exporter                  @chuan137 @Carthaca @majewsky @grandchild @stefanhipfel
/prometheus-exporters/network-generic-ssh-exporter     @swagner-de @Kuckkuck @artherd42 @geisslet
/prometheus-exporters/nfs-exporter                     @auhlig @majewsky  # old
/prometheus-exporters/ns-exporter                      @databus23
/prometheus-exporters/ntp-exporter                     @majewsky @SuperSandro2000 @jknipper
/prometheus-exporters/octobus-query-exporter           @max-len @IvoGoman @Kuckkuck @christopherhans @kevin-fischer
/prometheus-exporters/oomkill-exporter                 @jknipper @defo89 @majewsky
/prometheus-exporters/opensearch-logs-query-exporter   @Kuckkuck @dimtass @chuan137 @databus23
/prometheus-exporters/openstack-exporter               @viennaa @hemna @majewsky @crenduchinta88 @kevin-fischer
/prometheus-exporters/ping-exporter                    @majewsky @auhlig @defo89  # old
/prometheus-exporters/poller-simulator                 @dhalimi @corey-aloia @majewsky
/prometheus-exporters/redfish-exporter                 @BerndKue @stefanhipfel
/prometheus-exporters/snmp-exporter                    @Kuckkuck @swagner-de @m-kratochvil @IvoGoman @defo89
/prometheus-exporters/snmp-ntp-exporter                @geisslet
/prometheus-exporters/statsd-exporter                  @artherd42 @thgrs @ashifnihalb @majewsky
/prometheus-exporters/systemd-lldp-exporter            @auhlig @majewsky  # old
/prometheus-exporters/tempest-exporter                 @misamoylov
/prometheus-exporters/ucs-exporter                     @BerndKue @viennaa @richardtief
/prometheus-exporters/watchcache-exporter              @jknipper @databus23

/prometheus-rules/prometheus-controlplane-rules        @defo89 @artherd42 @majewsky @SuperSandro2000
/prometheus-rules/prometheus-kubernetes-rules          @auhlig @databus23 @defo89 @businessbean @majewsky
/prometheus-rules/prometheus-openstack-rules           @artherd42 @richardtief
/prometheus-rules/prometheus-scaleout-rules            @auhlig  # old
/prometheus-rules/prometheus-virtual-rules             @BugRoger  # old
/prometheus-rules/prometheus-vmware-rules              @kevin-fischer @christopherhans @max-len @richardtief @himanip94

/px/arp-discovery                                      @swagner-de
/px/bird                                               @swagner-de @dusandordevicsap @rhalina @defo89
/px/lg                                                 @rhalina @swagner-de @majewsky

/system/absent-metrics-operator                        @talal @SuperSandro2000 @majewsky @VoigtS
/system/ai-cloud-guard                                 @darpan92
/system/atlas                                          @BerndKue @Kuckkuck @viennaa @stefanhipfel @artherd42
/system/audit-logs                                     @IvoGoman @Kuckkuck @jknipper @artherd42 @richardtief
/system/auditbeat                                      @jknipper @IvoGoman @Kuckkuck
/system/aws-ecr-creds-helper                           @defo89  # old
/system/baremetal-operator                             @defo89
/system/baremetal-operator-core                        @defo89
/system/bind                                           @galkindmitrii @mutax @mbrowny @defo89
/system/bootstrap-kubeadm                              @defo89 @Nuckal777
/system/calico                                         @defo89
/system/calico-apiserver                               @defo89
/system/calico-cni                                     @defo89
/system/cc-cluster                                     @defo89
/system/cc-rbac                                        @databus23 @Nuckal777 @swagner-de
/system/ccauth                                         @onuryilmaz @databus23
/system/cert-manager-crds                              @jknipper
/system/cluster-api                                    @defo89 @Nuckal777
/system/cluster-api-core                               @defo89 @Nuckal777
/system/cni-nanny                                      @defo89
/system/conntrack-nanny                                @defo89
/system/descheduler                                    @auhlig @defo89 @majewsky
/system/digicert-issuer                                @jknipper @auhlig @kayrus
/system/disco                                          @auhlig @defo89 @databus23
/system/doop-central                                   @majewsky @talal @SuperSandro2000 @auhlig
/system/elk                                            @Kuckkuck @IvoGoman @majewsky
/system/externalip-operator                            @defo89
/system/flatcar-linux-update-agent                     @Nuckal777 @defo89
/system/frrouting                                      @defo89
/system/gatekeeper                                     @majewsky @talal @SuperSandro2000 @Kuckkuck @IvoGoman
/system/gatekeeper-config                              @majewsky @talal @SuperSandro2000
/system/go-pmtud                                       @defo89
/system/grafana-dashboards-kubernetes                  @auhlig @databus23
/system/greenhouse-ccloud                              @auhlig @IvoGoman
/system/hubcopter                                      @SuperSandro2000 @majewsky
/system/hubcopter-seeds                                @SuperSandro2000 @majewsky
/system/infra-monitoring                               @artherd42 @viennaa @BerndKue @swagner-de @Kuckkuck
/system/ipmasq                                         @defo89
/system/jaeger-operator                                @chuan137 @misamoylov @Kuckkuck
/system/jupyter-cron-reports                           @timojohlo
/system/jupyterhub                                     @timojohlo @majewsky @artherd42
/system/k3s-backup                                     @defo89
/system/k3s-restore                                    @defo89 @majewsky  # old
/system/kube-cni                                       @defo89
/system/kube-detective                                 @defo89
/system/kube-dns                                       @defo89 @databus23
/system/kube-fip-controller                            @auhlig @jknipper @databus23
/system/kube-flannel                                   @defo89
/system/kube-monitoring-admin-k3s                      @defo89 @Kuckkuck @majewsky @auhlig @talal
/system/kube-monitoring-kubernikus                     @auhlig @jknipper @databus23 @defo89 @majewsky
/system/kube-monitoring-metal                          @auhlig @databus23 @defo89 @majewsky @jknipper
/system/kube-monitoring-scaleout                       @auhlig @jknipper @databus23 @majewsky @defo89
/system/kube-monitoring-virtual                        @auhlig @defo89 @databus23 @majewsky @jknipper
/system/kube-network-helpers                           @defo89
/system/kube-parrot                                    @defo89
/system/kube-proxy                                     @defo89 @majewsky
/system/kube-proxy-ng                                  @defo89
/system/kube-system-addons                             @defo89
/system/kube-system-admin-k3s                          @defo89 @Nuckal777 @jknipper @onuryilmaz @auhlig
/system/kube-system-global                             @defo89 @kayrus @viennaa @auhlig @Nuckal777
/system/kube-system-kubernikus                         @auhlig @Nuckal777 @jknipper @defo89 @databus23
/system/kube-system-metal                              @defo89 @auhlig @Nuckal777 @jknipper @databus23
/system/kube-system-scaleout                           @auhlig @Nuckal777 @jknipper @onuryilmaz @defo89
/system/kube-system-virtual                            @defo89 @Nuckal777 @auhlig @jknipper @onuryilmaz
/system/kubernikus-admin-k3s                           @defo89 @databus23 @Nuckal777 @jknipper @xsen84
/system/kubernikus-metal                               @databus23 @defo89 @Nuckal777 @jknipper @xsen84
/system/kubernikus-monitoring                          @uwe-mayer @databus23 @jknipper @majewsky
/system/kubernikus-rbac                                @databus23
/system/ldap-named-user                                @defo89 @majewsky
/system/logs                                           @Kuckkuck @IvoGoman @businessbean @corey-aloia @Nuckal777
/system/maintenance-controller                         @Nuckal777 @majewsky @defo89
/system/manila-csi-plugin                              @jknipper
/system/metallb                                        @majewsky @defo89  # old
/system/metis                                          @IvoGoman @majewsky @richardtief @SuperSandro2000
/system/metis-api                                      @IvoGoman @majewsky @SuperSandro2000
/system/metrics-server                                 @auhlig @defo89 @majewsky
/system/multicloudtest                                 @viennaa @majewsky
/system/node-problem-detector                          @defo89 @databus23
/system/nodecidr-controller                            @defo89
/system/ntp-timeserver                                 @dhoeller @majewsky  # old
/system/opensearch-hermes                              @Kuckkuck @majewsky
/system/opensearch-logs                                @Kuckkuck @IvoGoman @majewsky @richardtief
/system/plutono                                        @richardtief @thgrs @majewsky @misamoylov
/system/priority-class                                 @galkindmitrii  # old
/system/prober-static                                  @defo89
/system/prometheus-crds                                @auhlig @viennaa @richardtief
/system/prometheus-infra                               @artherd42 @viennaa @richardtief @Kuckkuck @dhalimi
/system/prometheus-kubernetes                          @viennaa @richardtief @Nuckal777
/system/prometheus-operator                            @viennaa @majewsky @richardtief
/system/provider-kubernikus                            @defo89
/system/provider-metal3                                @defo89 @Nuckal777
/system/rabbitmq-operator                              @galkindmitrii
/system/runtime-extension-maintenance-controller       @Nuckal777
/system/secrets-injector                               @Nuckal777
/system/sentry                                         @majewsky @databus23 @notandy @SuperSandro2000 @rajivmucheli
/system/servicemesh                                    @jknipper @SuperSandro2000 @majewsky
/system/smee-dynakratos                                @defo89 @SchwarzM @majewsky
/system/storage-monitoring                             @viennaa @richardtief @artherd42 @geisslet
/system/sysctl                                         @defo89
/system/sysstat                                        @defo89
/system/tarslite                                       @darpan92 @max-len @christopherhans @majewsky
/system/tenso                                          @majewsky @SuperSandro2000 @VoigtS
/system/tenso-seeds                                    @majewsky
/system/thanos-metal                                   @richardtief @viennaa
/system/thanos-operator                                @viennaa
/system/thanos-scaleout                                @richardtief @viennaa
/system/thanos-seeds                                   @viennaa
/system/tiller                                         @BugRoger @defo89 @majewsky  # old
/system/toolbox-prepull                                @defo89 @SchwarzM
/system/unbound                                        @galkindmitrii @vssldmtrv @dhoeller @mutax @defo89
/system/validation                                     @artherd42 @thgrs @ashifnihalb
/system/velero                                         @majewsky @databus23 @jknipper  # old
/system/vertical-pod-autoscaler                        @auhlig @Nuckal777 @majewsky
/system/vice-president                                 @databus23
/system/vmware-monitoring                              @viennaa @richardtief @christopherhans @himanip94 @kevin-fischer
/system/vpa-butler                                     @Nuckal777 @auhlig @defo89 @jknipper
/system/wormhole                                       @defo89
