*                                                      @BugRoger @databus23 @dhoeller @edda @geisslet @artherd42 @martinpink
/.github/CODEOWNERS                                    @BugRoger @databus23 @dhoeller @edda @geisslet @artherd42 @martinpink

/ci                                                    @auhlig @Kuckkuck @businessbean @jknipper @fwiesel

/common/helm3-helper                                   @SchwarzM  # old
/common/inventory-updater                              @BerndKue
/common/linkerd-support                                @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/common/manila-provisioner                             @jknipper  # old
/common/mariadb                                        @galkindmitrii @stefanhipfel @Carthaca @IvoGoman @fwiesel @businessbean @occamshatchet
/common/memcached                                      @auhlig @businessbean @bashar-alkhateeb
/common/mysql-metrics                                  @galkindmitrii @Carthaca
/common/nats                                           @notandy
/common/owner-info                                     @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/common/pgbackup                                       @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/common/pgmetrics                                      @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/common/postgresql*                                    @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/common/prometheus-alertmanager-base                   @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/common/prometheus-monitors                            @IvoGoman @auhlig
/common/prometheus-pushgateway                         @viennaa # old
/common/prometheus-server                              @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/common/prometheus-server-pre7                         @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/common/rabbitmq                                       @galkindmitrii @fwiesel @Carthaca @bashar-alkhateeb @dusandordevicsap @businessbean
/common/rabbitmq-cluster                               @galkindmitrii @notandy @defo89 @businessbean
/common/redis*                                         @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/common/staging/rabbitmq                               @notandy @Carthaca  # old
/common/thanos                                         @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo

/global/andromeda                                      @notandy @m-kratochvil
/global/bootcfg                                        @BugRoger  # old
/global/ccloud-hedgedoc                                @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/global/chartmuseum-sapcc                              @auhlig @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/global/concourse-main                                 @jknipper @andypf
/global/concourse-worker                               @databus23 @kayrus  # old
/global/geminabox                                      @databus23
/global/gh-actions                                     @notandy @auhlig
/global/git-cert-shim                                  @auhlig
/global/kibana-objecter                                @dimtass
/global/oauth-proxy                                    @andypf @ArtieReus @databus23
/global/percona-cluster                                @galkindmitrii @defo89 @occamshatchet
/global/prometheus-alertmanager-cnmp                   @auhlig
/global/prometheus-alertmanager-operated               @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/global/prometheus-infra                               @artherd42 # old
/global/prometheus-uber                                @auhlig  # old
/global/schedules2slack                                @geisslet
/global/slack-alert-reactions                          @uwe-mayer
/global/supernova                                      @andypf @ArtieReus @edda @hgw77
/global/thanos-global                                  @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/global/vault                                          @BugRoger  # old
/global/vault-tec                                      @Nuckal777 @majewsky @SuperSandro2000 @VoigtS
/global/volta                                          @dimtass @databus23
/global/wham                                           @databus23

/openstack/andromeda-seed                              @notandy @m-kratochvil
/openstack/arc                                         @databus23 @ArtieReus @fwiesel
/openstack/archer                                      @notandy @m-kratochvil
/openstack/backup-replication                          @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/openstack/barbican                                    @galkindmitrii @fwiesel @rajivmucheli @bashar-alkhateeb
/openstack/baremetal-temper                            @databus23 @fwiesel @BerndKue
/openstack/bastion                                     @fwiesel
/openstack/billing                                     @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/openstack/blackbox                                    @artherd42 # old
/openstack/castellum*                                  @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/openstack/cbshelf                                     @corey-aloia
/openstack/cc3test                                     @thgrs @ashifnihalb @artherd42
/openstack/cc3test-seeds                               @thgrs @ashifnihalb @artherd42
/openstack/cerebro                                     @viennaa @joker-at-work @fwiesel @grandchild
/openstack/cinder                                      @joker-at-work @hemna @fwiesel @dusandordevicsap
/openstack/content-repo                                @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/openstack/cronus                                      @kayrus @dhalimi1975 @corey-aloia @fwiesel
/openstack/cronus-seed                                 @kayrus @dhalimi1975
/openstack/db-backup-v2                                @databus23 @fwiesel
/openstack/designate                                   @galkindmitrii @fwiesel @mutax @kpawar-sap @vssldmtrv @mbrowny @SoenkeL @occamshatchet
/openstack/designate-nanny                             @mutax @vssldmtrv @mbrowny @SoenkeL @galkindmitrii @occamshatchet
/openstack/domain-seeds                                @BerndKue @Carthaca @fwiesel @Kuckkuck @rajivmucheli
/openstack/elektra                                     @andypf @edda @ArtieReus @hgw77
/openstack/glance                                      @fwiesel @galkindmitrii @rajivmucheli @Carthaca
/openstack/grafanasix                                  @thgrs # old
/openstack/hermes                                      @notque @Kuckkuck @IvoGoman
/openstack/infra-seeds/kubernetes                      @BugRoger  # old
/openstack/ironic                                      @stefanhipfel @BerndKue @fwiesel @sandzwerg
/openstack/keppel*                                     @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/openstack/keystone                                    @galkindmitrii @Carthaca @bbobrov @fwiesel @rajivmucheli
/openstack/kos-operator                                @stefanhipfel @databus23
/openstack/kubernetes                                  @fwiesel
/openstack/kubernikus                                  @fwiesel @jknipper
/openstack/limes*                                      @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/openstack/lyra                                        @databus23 @ArtieReus
/openstack/maia                                        @notque @richardtief @viennaa @Kuckkuck
/openstack/manila*                                     @Carthaca @chuan137 @galkindmitrii @kpawar-sap @sumitarora2786 @crenduchinta88
/openstack/nannies                                     @thgrs @chuan137 @Carthaca @fwiesel @kpawar-sap
/openstack/neutron                                     @notandy @fwiesel @sebageek @sven-rosenzweig @rhalina @swagner-de @mutax @BenjaminLudwigSAP @m-kratochvil @occamshatchet
/openstack/nova                                        @joker-at-work @fwiesel @grandchild @leust
/openstack/octavia                                     @notandy @BenjaminLudwigSAP @fwiesel @dusandordevicsap @velp @m-kratochvil
/openstack/octobus                                     @viennaa @Kuckkuck @businessbean
/openstack/openstack-seeder                            @stefanhipfel @databus23 @fwiesel
/openstack/openstack-performance                       @misamoylov
/openstack/placement                                   @fwiesel @joker-at-work @bashar-alkhateeb @galkindmitrii
/openstack/poller                                      @dhalimi1975 @corey-aloia
/openstack/prometheus-openstack                        @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/openstack/pyroscope                                   @fwiesel
/openstack/sap-seeds                                   @dhoeller @grandchild @frr2018 @joker-at-work @fwiesel
/openstack/sre                                         @artherd42 @geisslet # old
/openstack/swift                                       @sumitarora2786 @crenduchinta88 @majewsky @SuperSandro2000 @VoigtS
/openstack/swift-drive-autopilot                       @sumitarora2786 @crenduchinta88 @majewsky @SuperSandro2000 @VoigtS
/openstack/swift-utils                                 @sumitarora2786 @crenduchinta88 @majewsky @SuperSandro2000 @VoigtS
/openstack/tempest/barbican-tempest                    @misamoylov @fwiesel @rajivmucheli @galkindmitrii
/openstack/tempest/cinder-tempest                      @misamoylov @fwiesel @galkindmitrii
/openstack/tempest/designate-tempest                   @misamoylov @fwiesel @galkindmitrii
/openstack/tempest/glance-tempest                      @misamoylov @fwiesel @rajivmucheli @galkindmitrii
/openstack/tempest/ironic-tempest                      @misamoylov @fwiesel @galkindmitrii
/openstack/tempest/keystone-tempest                    @misamoylov @fwiesel @rajivmucheli @galkindmitrii
/openstack/tempest/manila-tempest                      @kpawar-sap @misamoylov @fwiesel @galkindmitrii
/openstack/tempest/neutron-tempest                     @misamoylov @fwiesel @galkindmitrii
/openstack/tempest/nova-tempest                        @misamoylov @fwiesel @galkindmitrii
/openstack/tempest/octavia-tempest                     @misamoylov @fwiesel @galkindmitrii
/openstack/tempest/tempest-base                        @misamoylov @fwiesel @stefanhipfel @galkindmitrii
/openstack/trust-manager                               @fwiesel
/openstack/utils                                       @fwiesel @notandy @galkindmitrii @Carthaca @joker-at-work
/openstack/vcenter-operator                            @joker-at-work @fwiesel @databus23
/openstack/vcf                                         @chuan137
/openstack/volume-claims                               @fwiesel

/prometheus-exporters/apic-exporter                    @artherd42 @IvoGoman
/prometheus-exporters/arista-exporter                  @BerndKue @stefanhipfel
/prometheus-exporters/blackbox-exporter                @defo89 @databus23
/prometheus-exporters/cloudprober                      @artherd42 @richardtief @viennaa
/prometheus-exporters/cronus-exporter                  @dhalimi1975 @LimorGargir @richardtief @geisslet
/prometheus-exporters/cronus-openstack-alerts          @dhalimi1975
/prometheus-exporters/cronus-reporter                  @dhalimi1975
/prometheus-exporters/cronus-simulator                 @dhalimi1975
/prometheus-exporters/cronus-updater                   @dhalimi1975
/prometheus-exporters/documentation-prober             @dhalimi1975  # old
/prometheus-exporters/event-exporter                   @jknipper @databus23
/prometheus-exporters/hermes-query-exporter            @Kuckkuck @notque @timojohlo
/prometheus-exporters/ipmi-exporter                    @stefanhipfel @BerndKue @sandzwerg
/prometheus-exporters/ipmi-service-discovery           @auhlig  # old
/prometheus-exporters/ironic-exporter                  @BerndKue @stefanhipfel @sandzwerg

/prometheus-exporters/jumpserver-exporter              @viennaa @richardtief @Kuckkuck
/prometheus-exporters/k8s-secrets-certificate-exporter @auhlig @databus23 @jknipper
/prometheus-exporters/kube-state-metrics-exporter      @richardtief @viennaa
/prometheus-exporters/kubelet-stats-metrics            @jknipper
/prometheus-exporters/masterdata-exporter              @databus23
/prometheus-exporters/netapp-exporter                  @chuan137 @Carthaca @grandchild @stefanhipfel
/prometheus-exporters/network-generic-ssh-exporter     @swagner-de @Kuckkuck @IvoGoman @geisslet
/prometheus-exporters/nfs-exporter                     @auhlig  # old
/prometheus-exporters/ns-exporter                      @databus23
/prometheus-exporters/ntp-exporter                     @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/prometheus-exporters/octobus-query-exporter           @max-len @himanip94 @kevin-fischer @Kuckkuck @IvoGoman
/prometheus-exporters/oomkill-exporter                 @jknipper @defo89
/prometheus-exporters/opensearch-logs-query-exporter   @Kuckkuck @dimtass @chuan137 @databus23 @IvoGoman @timojohlo
/prometheus-exporters/openstack-exporter               @hemna @crenduchinta88 @kevin-fischer
/prometheus-exporters/ping-exporter                    @auhlig @defo89  # old
/prometheus-exporters/poller-simulator                 @dhalimi1975 @corey-aloia
/prometheus-exporters/redfish-exporter                 @BerndKue @stefanhipfel @sandzwerg
/prometheus-exporters/snmp-exporter                    @Kuckkuck @swagner-de @m-kratochvil @IvoGoman @defo89
/prometheus-exporters/snmp-ntp-exporter                @geisslet
/prometheus-exporters/statsd-exporter                  @thgrs @ashifnihalb @artherd42
/prometheus-exporters/systemd-lldp-exporter            @auhlig  # old
/prometheus-exporters/tempest-exporter                 @misamoylov
/prometheus-exporters/ucs-exporter                     @BerndKue
/prometheus-exporters/watchcache-exporter              @jknipper @databus23

/prometheus-rules/prometheus-controlplane-rules        @viennaa @richardtief @defo89
/prometheus-rules/prometheus-kubernetes-rules          @viennaa @richardtief @defo89
/prometheus-rules/prometheus-openstack-rules           @viennaa @richardtief @defo89
/prometheus-rules/prometheus-scaleout-rules            @viennaa @richardtief @defo89  # old
/prometheus-rules/prometheus-virtual-rules             @viennaa @richardtief @defo89  # old
/prometheus-rules/prometheus-vmware-rules              @kevin-fischer @christopherhans @max-len @richardtief @viennaa @himanip94

/px/arp-discovery                                      @swagner-de
/px/bird                                               @swagner-de @dusandordevicsap @rhalina @defo89 @occamshatchet
/px/lg                                                 @rhalina @swagner-de @occamshatchet

/system/absent-metrics-operator                        @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/system/ai-cloud-guard                                 @darpan92
/system/atlas                                          @BerndKue @Kuckkuck @viennaa @stefanhipfel @artherd42
/system/audit-logs                                     @IvoGoman @Kuckkuck @jknipper
/system/auditbeat                                      @jknipper @IvoGoman @Kuckkuck
/system/aws-ecr-creds-helper                           @defo89  # old
/system/baremetal-operator                             @defo89
/system/baremetal-operator-core                        @defo89
/system/bind                                           @galkindmitrii @mutax @mbrowny @defo89 @vssldmtrv @SoenkeL @occamshatchet
/system/bootstrap-kubeadm                              @defo89 @Nuckal777
/system/calico                                         @defo89
/system/calico-apiserver                               @defo89
/system/calico-cni                                     @defo89
/system/cc-cluster                                     @defo89
/system/cc-rbac                                        @databus23 @Nuckal777 @swagner-de
/system/ccauth                                         @onuryilmaz @databus23
/system/cert-manager-crds                              @jknipper
/system/cluster-api                                    @defo89 @Nuckal777
/system/cluster-api-core                               @defo89 @Nuckal777
/system/cni-nanny                                      @defo89
/system/conntrack-nanny                                @defo89
/system/descheduler                                    @auhlig @defo89
/system/digicert-issuer                                @jknipper @auhlig @kayrus
/system/disco                                          @auhlig @defo89 @databus23
/system/doop-central                                   @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/system/elk                                            @Kuckkuck @IvoGoman # old
/system/externalip-operator                            @defo89
/system/flatcar-linux-update-agent                     @Nuckal777 @defo89 @majewsky @SuperSandro2000 @VoigtS
/system/frrouting                                      @defo89
/system/gatekeeper*                                    @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/system/go-pmtud                                       @defo89
/system/grafana-dashboards-kubernetes                  @auhlig @databus23 # old
/system/greenhouse-ccloud                              @auhlig @IvoGoman
/system/hubcopter*                                     @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/system/infra-monitoring                               @viennaa @richardtief @BerndKue @swagner-de @Kuckkuck
/system/ipmasq                                         @defo89
/system/jaeger-operator                                @chuan137 @misamoylov
/system/jupyter-cron-reports                           @timojohlo @IvoGoman @Kuckkuck
/system/jupyterhub                                     @timojohlo @IvoGoman @Kuckkuck
/system/k3s-backup                                     @defo89
/system/k3s-restore                                    @defo89  # old
/system/kube-cni                                       @defo89
/system/kube-detective                                 @defo89
/system/kube-dns                                       @defo89 @databus23
/system/kube-fip-controller                            @auhlig @jknipper @databus23
/system/kube-flannel                                   @defo89
/system/kube-monitoring-admin-k3s                      @defo89 @Kuckkuck @auhlig @viennaa @richardtief
/system/kube-monitoring-kubernikus                     @auhlig @jknipper @databus23 @defo89 @viennaa @richardtief
/system/kube-monitoring-metal                          @auhlig @databus23 @defo89 @jknipper @viennaa @richardtief
/system/kube-monitoring-scaleout                       @auhlig @jknipper @databus23 @defo89 @viennaa @richardtief
/system/kube-monitoring-virtual                        @auhlig @defo89 @databus23 @jknipper @viennaa @richardtief
/system/kube-network-helpers                           @defo89
/system/kube-parrot                                    @defo89
/system/kube-proxy                                     @defo89
/system/kube-proxy-ng                                  @defo89
/system/kube-system-addons                             @defo89 @Nuckal777
/system/kube-system-admin-k3s                          @defo89 @Nuckal777 @jknipper @onuryilmaz @auhlig @viennaa @richardtief
/system/kube-system-kubernikus                         @auhlig @Nuckal777 @jknipper @defo89 @databus23 @viennaa @richardtief
/system/kube-system-metal                              @defo89 @auhlig @Nuckal777 @jknipper @databus23 @viennaa @richardtief
/system/kube-system-scaleout                           @auhlig @Nuckal777 @jknipper @onuryilmaz @defo89 @viennaa @richardtief
/system/kube-system-virtual                            @defo89 @Nuckal777 @auhlig @jknipper @onuryilmaz @viennaa @richardtief
/system/kubernikus-admin-k3s                           @defo89 @databus23 @Nuckal777 @jknipper @xsen84
/system/kubernikus-metal                               @databus23 @defo89 @Nuckal777 @jknipper @xsen84
/system/kubernikus-monitoring                          @uwe-mayer @databus23 @jknipper @Nuckal777
/system/kubernikus-rbac                                @databus23
/system/ldap-named-user                                @defo89
/system/logs                                           @Kuckkuck @IvoGoman @timojohlo @notque
/system/maintenance-controller                         @Nuckal777 @defo89 @majewsky @SuperSandro2000 @VoigtS
/system/manila-csi-plugin                              @jknipper
/system/metallb                                        @defo89  # old
/system/metis                                          @IvoGoman @timojohlo @richardtief
/system/metis-api                                      @IvoGoman @timojohlo
/system/metrics-server                                 @auhlig @defo89
/system/multicloudtest                                 @viennaa # old
/system/node-problem-detector                          @defo89 @databus23
/system/nodecidr-controller                            @defo89
/system/ntp-timeserver                                 @dhoeller  # old
/system/opensearch-hermes                              @Kuckkuck @notque @IvoGoman @timojohlo
/system/opensearch-logs                                @Kuckkuck @IvoGoman @timojohlo @notque
/system/plutono                                        @thgrs @richardtief
/system/priority-class                                 @galkindmitrii  # old
/system/prober-static                                  @defo89
/system/prometheus-crds                                @viennaa @richardtief
/system/prometheus-infra                               @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/system/prometheus-kubernetes                          @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/system/prometheus-operator                            @viennaa @richardtief
/system/provider-kubernikus                            @defo89
/system/provider-metal3                                @defo89 @Nuckal777
/system/rabbitmq-operator                              @galkindmitrii
/system/runtime-extension-maintenance-controller       @Nuckal777 @defo89 @majewsky @SuperSandro2000 @VoigtS
/system/secrets-injector                               @Nuckal777 @majewsky @SuperSandro2000 @VoigtS
/system/sentry                                         @databus23 @rajivmucheli
/system/servicemesh                                    @jknipper
/system/smee-dynakratos                                @defo89 @SchwarzM
/system/srs-*                                          @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/system/storage-monitoring                             @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/system/sysctl                                         @defo89
/system/sysstat                                        @defo89
/system/tarslite                                       @darpan92 @max-len @christopherhans
/system/tenso*                                         @majewsky @SuperSandro2000 @VoigtS @Nuckal777
/system/thanos-metal                                   @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/system/thanos-operator                                @viennaa @richardtief
/system/thanos-scaleout                                @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/system/thanos-seeds                                   @viennaa @richardtief
/system/toolbox-prepull                                @defo89 @SchwarzM
/system/unbound                                        @galkindmitrii @vssldmtrv @dhoeller @mutax @defo89 @mbrowny @SoenkeL @occamshatchet
/system/validation                                     @thgrs @ashifnihalb
/system/velero                                         @databus23 @jknipper  # old
/system/vertical-pod-autoscaler                        @Nuckal777 @majewsky @SuperSandro2000 @VoigtS
/system/vice-president                                 @databus23
/system/vmware-monitoring                              @viennaa @richardtief @Kuckkuck @IvoGoman @timojohlo
/system/vpa-butler                                     @Nuckal777 @majewsky @SuperSandro2000 @VoigtS
/system/wormhole                                       @defo89
