# Managed by start-ovs-vswitchd
[Match]
Name={{ br }}
[Network]
DHCP=ipv4
IPv6AcceptRA=no
LinkLocalAddressing=ipv6
[DHCPv4]
UseDNS=yes
UseNTP=yes
UseHostname=yes
UseRoutes=yes
UseGateway=yes
RouteMetric=100
