global
  log stdout format rfc5424 local0 info

  defaults
    log global
    retries 2
    timeout connect 3s
    timeout server 5s
    timeout client 5s

  frontend stats
    mode http
    stats enable
    stats hide-version

    stats uri /stats
    stats refresh 10s
    bind :8080
    stats admin if LOCALHOST
