[query_opensearch_hermes_target_project_name_missing]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = audit-*
QueryJson = {
              "aggs": {},
              "size": 0,
              "query": {
                "bool": {
                  "must": [],
                  "filter": [
                    {
                      "bool": {
                        "should": [
                          {
                            "match_phrase": {
                              "initiator.project_id": "unavailable"
                            }
                          }
                        ],
                        "minimum_should_match": 1
                      }
                    },
                    {
                      "exists": {
                        "field": "initiator.project_id"
                      }
                    },
                    {
                      "range": {
                        "@timestamp": {
                          "gt": "now-10m",
                          "format": "epoch_millis"
                        }
                      }
                    }
                  ],
                  "should": [],
                  "must_not": [
                    {
                      "exists": {
                        "field": "initiator.project_name"
                      }
                    }
                  ]
                }
              }
            }
