[query_opensearch_hermes_tag]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = audit-*
QueryJson = {
              "aggs": {
                "error": {
                  "terms": {
                    "field": "tags.keyword",
                    "order": {
                      "_count": "desc"
                    },
                    "size": 50
                  }
                }
              },
              "size": 0,
              "script_fields": {},
              "stored_fields": [
                "*"
              ],
              "query": {
                "bool": {
                  "must": [],
                  "filter": [
                    {
                      "range": {
                        "@timestamp": {
                          "format": "epoch_millis",
                          "gt": "now-1h"
                        }
                      }
                    },
                    {
                      "exists": {
                        "field": "tags.keyword"
                      }
                    }
                  ],
                  "should": [],
                  "must_not": []
                }
              }
            }
