[query_elasticsearch_rabbitmq_econnrefused]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryOnMissing = zero
QueryIndices = logstash-*
QueryJson = {
              "size": 0,
              "query": {
                "bool": {
                   "must": [
                  {
                    "match" : {
                      "log": "ECONNREFUSED"
                    }
                  }
                  ],
                  "must_not": [
                  {
                    "match_phrase" : {
                      "kubernetes_namespace_name": "swift"
                    }
                  }
                  ],
                  "filter": [
                    { "range": { "@timestamp": { "gte": "now-5m" }}}
                  ]
                }
              },
              "aggs": {
                "error": { "terms": { "field": "kubernetes_namespace_name.keyword", "size": 1000 },
              "aggs": {
                "failed": { "terms": { "field": "kubernetes_container_name.keyword", "size": 1000 }}
              }
                }
              }
           }
