[query_elasticsearch_logstash_derby]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = logstash-*
QueryJson = {
              "size": 0,
              "aggs": {
                "error": {
                  "terms": {
                    "field": "kubernetes_namespace_name.keyword"
                  }
                }
              },
              "query": {
                "bool": {
                  "must": [
                    {
                      "match_phrase": {
                        "log": "obtained due to a deadlock"
                      }
                    }
                  ],
                  "filter": [
                    {
                      "range": {
                        "@timestamp": {
                          "gte": "now-1h"
                        }
                      }
                    }
                  ]
                }
              }
            }
