[query_elasticsearch_px_bird]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 360
QueryTimeoutSecs = 10
QueryIndices = logstash-*
QueryJson = {
    "query": {
      "bool": {
        "must": [
        {
          "multi_match" : {
            "query":      "hits route import limit",
            "type":       "phrase",
            "lenient": true
          }
        },
        {
          "multi_match" : {
            "query":      "action: block",
            "type":       "phrase",
            "lenient": true
          }
        }
        ],
        "filter": [
          { "range": { "@timestamp": { "gte": "now-5m" }}}
        ]
      }
    },
    "aggs": {
      "import": { "terms": { "field": "kubernetes_labels_app_name.keyword" }}
    }
  }

