[query_elasticsearch_kubernikus_expired_client]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 58
QueryTimeoutSecs = 10
QueryIndices = kubernikus-*
QueryJson = {
    "query": {
      "bool": {
        "must": [
        {
          "multi_match" : {
            "query":      "Unable to authenticate the request due to an error: x509: certificate has expired or is not yet valid",
            "type":       "phrase",
            "lenient": true
          }
        }
        ],
        "filter": [
          { "range": { "@timestamp": { "gte": "now-5m" }}}
        ]
      }
    },
    "aggs": {
      "code": { "terms": { "field": "kubernetes_labels_release.keyword" }}
    }
  }

