[query_elasticsearch_glance]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 280
QueryTimeoutSecs = 15
QueryIndices = logstash-*
QueryJson = {
        "aggs": {
          "access": {
            "filters": {
              "terms": {
                "field": "path.keyword",
                "order": {
                  "_count": "desc"
                },
                "size": 10
                },
            "aggs": {
              "method": {
                "terms": {
                  "field": "method.keyword",
                  "order": {
                    "_count": "desc"
                  },
                  "size": 10
                },
              "aggs": {
                "counted": {
                  "terms": {
                    "field": "kubernetes.labels.app.keyword",
                    "order": {
                      "_count": "desc"
                    },
                    "size": 10
                    }
                  }
                }
              }
            }
          }
        },
        "size": 0,
        "_source": {
          "excludes": []
        },
        "stored_fields": [
          "*"
        ],
        "script_fields": {},
        "docvalue_fields": [
          {
            "field": "@timestamp",
            "format": "date_time"
          }
        ],
        "query": {
          "bool": {
            "must": [],
            "filter": [
              {
                "match_all": {}
              },
              {
                "range": {
                  "@timestamp": {
                    "format": "epoch_millis",
                    "gte": "now-5m"
                  }
                }
              }
            ],
            "should": [],
            "must_not": []
          }
        }
      }


