* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: system-ui, sans-serif;
}

h1 {
  text-align: center;
}

header, footer {
  text-align: center;
  margin: 0 auto;
  max-width: 40rem;

  p {
    padding: 0.5rem;
  }

  p.loading {
    border: 1px solid #00A;
    background: #EEF;
    animation: flash 1s infinite;
  }

  p.error {
    border: 1px solid #A00;
    background: #FEE;
  }
}

@keyframes flash {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

table {
  border-collapse: collapse;
  margin: 0 auto;

  th, td {
    border: 1px solid #AAA;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    text-align: center;
  }

  td.success {
    background: #AFA;
  }
  td.failed {
    background: #FAA;
  }
}
