[query_opensearch_logs_cronus_unconfigured_postfix]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryOnMissing = zero
QueryIndices = logs-ds
QueryJson = {
              "size": 0,
              "query": {
                "bool": {
                   "must": [
                  {
                    "term": {
                      "resource.k8s.container.name.keyword": "cronus"
                    }
                  },
                  {
                    "match_phrase" : {
                      "body": "Unconfigured projectID in postfix"
                    }
                  }
                  ],
                  "filter": [
                    { "range": { "@timestamp": { "gte": "now-5m" }}}
                  ]
                }
              },
              "aggs": {
                "error": { "terms": { "field": "resource.k8s.container.name.keyword", "size": 1000 }}
              }
            }

