[query_opensearch_siem]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryOnMissing = zero
QueryIndices = logs-ds
QueryJson = {
              "size": 0,
              "query": {
              "bool": {
                "must": [],
                "filter": [
                  {
                    "bool": {
                      "filter": [
                        {
                          "multi_match": {
                            "type": "phrase",
                            "query": "siem-rules-updater",
                            "lenient": true
                          }
                        },
                        {
                          "multi_match": {
                            "type": "phrase",
                            "query": "error",
                            "lenient": true
                          }
                        }
                      ]
                    }
                  },
                  {
                    "match_phrase": {
                      "resource.k8s.namespace.name": "vault"
                    }
                  },
                    {
                      "range": {
                        "@timestamp": {
                          "gte": "now-1h",
                          "lte": "now"
                        }
                      }
                    }
                  ]
                }
              },
              "aggs": {
                "error": {
                  "terms": {
                    "field": "resource.k8s.container.name.keyword",
                    "size": 1000
                  }
                }
              }
            }
