[query_elasticsearch_kubernikus_expired_client]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 58
QueryTimeoutSecs = 10
QueryIndices = logs-ds
QueryJson = {
              "query": {
                "bool": {
                  "must": [
                    {
                      "multi_match": {
                        "query": "Unable to authenticate the request due to an error: x509: certificate has expired or is not yet valid",
                        "type": "phrase",
                        "lenient": true
                      }
                    }
                  ],
                  "filter": [
                    {
                      "range": {
                        "@timestamp": {
                          "gte": "now-5m"
                        }
                      }
                    },
                    {
                      "bool": {
                        "should": [
                          {
                            "match_phrase": {
                              "attributes.k8s.cluster.name": "k-"
                            }
                          }
                        ],
                        "minimum_should_match": 1
                      }
                    }
                  ]
                }
              },
              "aggs": {
                "code": {
                  "terms": {
                    "field": "resource.app.label.release.keyword"
                  }
                }
              }
            }
                "query": {
                  "bool": {
                    "must": [
                    {
                      "multi_match" : {
                        "query":      "Unable to authenticate the request due to an error: x509: certificate has expired or is not yet valid",
                        "type":       "phrase",
                        "lenient": true
                      }
                    }
                    ],
                    "filter": [
                      { "range": { "@timestamp": { "gte": "now-5m" }}}
                    ]
                  }
                },
                "aggs": {
                  "code": { "terms": { "field": "kubernetes.labels.release.keyword" }}
                }
              }
