[query_opensearch_logs_jump_ad_error]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = jump-*
QueryJson = {
        "aggs": {
          "connect": {
             "terms": {
               "field": "fqdn.keyword",
               "size": 10
            }
          }
        },
        "size": 0,
        "_source": {
          "excludes": []
        },
        "stored_fields": [
          "*"
        ],
        "script_fields": {},
        "docvalue_fields": [
          {
            "field": "@timestamp",
            "format": "date_time"
          },
          {
            "field": "time",
            "format": "date_time"
          }
        ],
        "query": {
          "bool": {
            "must": [
              {
                "match_all": {}
              },
              {
                "range": {
                  "@timestamp": {
                    "gt": "now-5m",
                    "format": "epoch_millis"
                  }
                }
              }
            ],
            "filter": [
              {
                "multi_match": {
                  "type": "phrase",
                  "query": "AD.GLOBAL.CLOUD.SAP",
                  "lenient": true
                }
              },
              {
                "multi_match": {
                  "type": "phrase",
                  "query": "Failed to connect",
                  "lenient": true
                }
              }
            ],
            "should": [],
            "must_not": []
          }
        }
    }

