[query_rabbitmq_vhost]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 295
QueryTimeoutSecs = 15
QueryIndices = logs-ds
QueryJson = {
                  "aggs": {
                      "container_name": {
                          "terms": {
                              "field": "resource.k8s.pod.name.keyword"
                          }
                      }
                  },
                  "size": 0,
                  "query": {
                      "bool": {
                          "filter": [
                              {
                                  "match_phrase": {
                                      "body": "access to vhost * refused for user"
                                  }
                              },
                              {
                                  "range": {
                                      "@timestamp": {
                                          "gte": "now-5m"
                                      }
                                  }
                              }
                          ]
                      }
                  }
              }


