[query_elasticsearch_snmp]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 600
QueryTimeoutSecs = 30
QueryIndices = logstash-*
QueryJson = {
            "aggs": {
              "reason": {
                "terms": {
                  "field": "snmp_reason.keyword",
                  "size": 100
                },
                "aggs": {
                  "module": {
                    "terms": {
                      "field": "snmp_module.keyword",
                      "size": 150
                    },
                    "aggs": {
                      "ip": {
                        "terms": {
                          "field": "snmp_ip.keyword",
                          "size": 150
                        },
                        "aggs": {
                          "scraped_by": {
                            "terms": {
                              "field": "kubernetes_labels_app_name.keyword",
                              "size": 10
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "size": 0,
            "stored_fields": [
              "*"
            ],
            "script_fields": {},
            "docvalue_fields": [
              {
                "field": "@timestamp",
                "format": "date_time"
              },
              {
                "field": "time",
                "format": "date_time"
              }
            ],
            "_source": {
              "excludes": []
            },
                  "query": {
                    "bool": {
                      "must": [],
                      "filter": [
                        {
                          "match_all": {}
                        },
                        {
                          "range": {
                            "@timestamp": {
                              "format": "epoch_millis",
                              "gt": "now-10m"
                            }
                          }
                        }
                      ],
                      "should": [],
                      "must_not": []
                    }
                  }
                }
