[query_opensearch_logs_jump_keytab]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryOnMissing = zero
QueryIndices = jump-*
QueryJson = {
              "size": 0,
              "query": {
                "bool": {
                  "must": [
                    {
                      "match_phrase" : {
                        "message": "Failed to initialize credentials using keytab"
                      }
                    }
                  ],
                  "filter": [
                    {
                      "range": {
                        "@timestamp": {
                          "gte": "now-5m",
                          "lte": "now"
                        }
                      }
                    }
                  ]
                }
              },
              "aggs": {
                "error": {
                  "terms": {
                    "field": "fqdn.keyword",
                    "size": 1000
                  }
                }
              }
            }
