[query_opensearch_kubernikus_csi_error]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 290
QueryTimeoutSecs = 30
QueryIndices = logs-ds
QueryJson = {
              "query": {
                "bool": {
                  "must": [],
                  "filter": [
                    {
                      "multi_match": {
                        "type": "phrase",
                        "query": "kubernetes.io/csi: failed to open volume data file",
                        "lenient": true
                      }
                    },
                    {
                      "bool": {
                        "should": [
                          {
                            "match_phrase": {
                              "attributes.k8s.cluster.name": "k-"
                            }
                          }
                        ],
                        "minimum_should_match": 1
                      }
                    },
                    { "range": { "@timestamp": { "gte": "now-5m" }}}
                  ],
                  "should": [],
                  "must_not": []
                }
              }
            }
