[query_opensearch_logs_cronus_availability_check]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 3600
QueryTimeoutSecs = 60
QueryIndices = logs-ds
QueryOnMissing = zero
QueryJson = {
            "size": 0,
            "query": {
              "bool": {
                "must": [
                  {
                    "term": {
                      "resource.k8s.container.name.keyword": "cronus"
                    }
                  }
                ],
                "filter": [
                  {
                    "range": {
                      "@timestamp": {
                        "gte": "now-30d"
                      }
                    }
                  }
                ]
              }
            },
            "aggs": {
              "logs": {
                "terms": {
                  "field": "resource.k8s.container.name.keyword"
                }
              }
            }
          }
