[query_opensearch_logs_maillog_availability_check]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 3600
QueryTimeoutSecs = 60
QueryIndices = maillog-*
QueryOnMissing = zero
QueryJson = {
  "size": 0,
  "query": {
    "bool": {
      "must": [],
      "filter": [
        {
          "range": {
            "@timestamp": {
              "gte": "now-30d"
            }
          }
        }
      ]
    }
  },
  "aggs": {
    "total_count": {
      "value_count": {
        "field": "@timestamp"
      }
    }
  }
}

[query_opensearch_logs_maillog_old_logs]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 3600
QueryTimeoutSecs = 60
QueryIndices = maillog-*
QueryOnMissing = zero
QueryJson = {
  "size": 0,
  "query": {
    "bool": {
      "must": [],
      "filter": [
        {
          "range": {
            "@timestamp": {
              "lt": "now-30d"
            }
          }
        }
      ]
    }
  },
  "aggs": {
    "old_logs_count": {
      "value_count": {
        "field": "@timestamp"
      }
    }
  }
}
