[query_opensearch_rabbitmq_timeout]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryOnMissing = zero
QueryIndices = logs-ds
QueryJson = {
              "size": 0,
              "query": {
                "bool": {
                   "must": [
                  {
                    "match" : {
                      "body": "oslo_messaging.exceptions.MessagingTimeout"
                    }
                  }
                  ],
                  "filter": [
                    { "range": { "@timestamp": { "gte": "now-5m" }}}
                  ]
                }
              },
              "aggs": {
                "error": { "terms": { "field": "resource.app.label.name.keyword", "size": 1000 }}
              }
            }
