[query_opensearch_database_shared_memory]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 60
QueryTimeoutSecs = 15
QueryIndices = logs-ds
QueryJson = {
              "aggs": {
                "problem": {
                  "terms": {
                    "field": "resource.k8s.pod.name.keyword",
                    "order": {
                      "_count": "desc"
                    },
                    "size": 500
                  }
                }
              },
              "size": 0,
              "stored_fields": [
                "*"
              ],
              "_source": {
                "excludes": []
              },
            "query": {
                "bool": {
                  "must": [],
                  "filter": [
                    {
                      "multi_match": {
                        "type": "phrase",
                        "query": "could not resize shared memory segment",
                        "lenient": true
                      }
                    },
                    {
                      "bool": {
                        "should": [
                          {
                            "match_phrase": {
                              "resource.k8s.container.name": "postgres"
                            }
                          }
                        ],
                        "minimum_should_match": 1
                      }
                    },
                    {
                      "range": {
                        "@timestamp": {
                          "gte": "now-5m"
                        }
                      }
                    }
                  ],
                  "should": [],
                  "must_not": []
                }
              }
            }
