[query_elasticsearch_siem]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryOnMissing = zero
QueryIndices = logstash-*
QueryJson = {
              "size": 0,
              "query": {
                "bool": {
                  "must": [
                    {
                      "match_phrase" : {
                        "kubernetes_namespace_name": "siem-rules-updater"
                      }
                    },
                    {
                      "match" : {
                        "log": "Error"
                      }
                    }
                  ],
                  "filter": [
                    {
                      "range": {
                        "@timestamp": {
                          "gte": "now-1h",
                          "lte": "now"
                        }
                      }
                    }
                  ]
                }
              },
              "aggs": {
                "error": {
                  "terms": {
                    "field": "kubernetes_container_name.keyword",
                    "size": 1000
                  }
                }
              }
            }
