[query_opensearch_kvm_ha_error]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = logs-d*
QueryJson = {
              "size": 0,
              "query": {
                "bool": {
                  "filter": [
                    {
                      "range": {
                        "@timestamp": {
                          "gte": "now-5m"
                        }
                      }
                    },
                    {
                      "match_phrase": {
                        "resource.k8s.namespace.name.keyword": "kvm-ha"
                      }
                    },
                    {
                      "multi_match": {
                        "query": "error",
                        "lenient": true
                      }
                    }
                  ]
                }
              }
            }
