[query_elasticsearch_scaleout_csi_error]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 290
QueryTimeoutSecs = 30
QueryIndices = scaleout-*
QueryJson = {
    "query": {
      "bool": {
        "must": [
        {
          "multi_match" : {
            "query":      "kubernetes.io/csi: failed to open volume data file",
            "type":       "phrase",
            "lenient": true
          }
        }
        ],
        "filter": [
          { "range": { "@timestamp": { "gte": "now-5m" }}}
        ]
      }
    },
    "aggs": {
      "node": { "terms": { "field": "hostname.keyword" }}
    }
  }

