{{ define "slack.sapcc.iconemoji" }}:fire_engine:{{ end }}
{{ define "slack.sapcc.title" }}{{ end }}
{{ define "slack.sapcc.titlelink" }}{{ end }}
{{ define "slack.sapcc.pretext" }} {{- end }}

{{ define "slack.sapcc.text" }}
{{ if eq .Status "firing" }}*[{{ .CommonLabels.severity | toUpper }}{{ if gt (len .Alerts.Firing) 1 }} - {{ .Alerts.Firing | len }}{{ end }}]* {{ end -}}
{{ if eq .Status "resolved" }}*[RESOLVED{{ if gt (len .Alerts.Resolved) 1 }} - {{ .Alerts.Resolved | len }}{{ end }}]* {{ end -}}
  *[{{ .CommonLabels.region | toUpper }}]* {{ if .CommonLabels.dashboard }}*<{{ .ExternalURL }}/#/alerts?receiver={{ .Receiver }}|{{ .GroupLabels.alertname }}>*{{ else }}{{ .GroupLabels.alertname }}{{ end }}{{ if .CommonAnnotations.summary }} - {{ .CommonAnnotations.summary }}{{ end }}

{{ if eq .Status "firing" -}}
{{ $commonLabels := .CommonLabels }}
{{ range .Alerts.Firing -}}
  {{ if eq .Labels.severity "warning" }}:warning: {{ end -}}
  {{ if eq .Labels.severity "critical" }}:fire: {{ end -}}
  {{ .Annotations.description }} (<{{ .GeneratorURL }}|Graph>)
  {{ if and .Labels.sentry (not $commonLabels.sentry) }}*<https://sentry.{{ $commonLabels.region }}.cloud.sap/monsoon/{{ .Labels.sentry }}|Sentry>* {{ end -}}
  {{ if and .Labels.playbook (not $commonLabels.playbook) }}*<https://operations.global.cloud.sap/{{ .Labels.playbook }}|Playbook>* {{ end -}}
  {{ if and .Labels.dashboard (not $commonLabels.dashboard) }}*<https://grafana.{{ $commonLabels.region }}.cloud.sap/dashboard/db/{{ .Labels.dashboard }}|Grafana>* {{ end -}}
  {{ println "\n" }}
{{ end -}}
{{ end -}}
{{ if eq .Status "resolved" -}}
{{ range .Alerts.Resolved -}}
  :white_check_mark: {{ .Annotations.description }}
{{ end -}}
{{ end -}}

{{ if .CommonLabels.dashboard }}*<https://grafana.{{ .CommonLabels.region }}.cloud.sap/dashboard/db/{{ .CommonLabels.dashboard }}|Grafana>* {{ end -}}
{{ if .CommonLabels.sentry }}*<https://sentry.{{ .CommonLabels.region }}.cloud.sap/monsoon/{{ .CommonLabels.sentry }}|Sentry>* {{ end -}}
{{ if .CommonLabels.playbook }}*<https://operations.global.cloud.sap/{{ .CommonLabels.playbook }}|Playbook>* {{ end -}}
{{ end }}
