{{ define "slack.sapcc.iconemoji" }}:fire_engine:{{ end }}
{{ define "slack.sapcc.title" }}{{ end }}
{{ define "slack.sapcc.titlelink" }}{{ end }}
{{ define "slack.sapcc.pretext" }} {{- end }}

{{ define "slack.sapcc.text" }}
{{ if eq .Status "firing" }}*[{{ .CommonLabels.severity | toUpper }}{{ if gt (len .Alerts.Firing) 1 }} - {{ .Alerts.Firing | len }}{{ end }}]* {{ end -}}
{{ if eq .Status "resolved" }}*[RESOLVED{{ if gt (len .Alerts.Resolved) 1 }} - {{ .Alerts.Resolved | len }}{{ end }}]* {{ end -}}
  *[{{ .CommonLabels.region | toUpper }}]* {{ if .CommonLabels.dashboard }}*<{{ .ExternalURL }}/#/alerts?receiver={{ .Receiver }}|{{ .GroupLabels.alertname }}>*{{ else }}{{ .GroupLabels.alertname }}{{ end }} - {{ .CommonAnnotations.summary }}

{{ if eq .Status "firing" -}}
{{ range .Alerts.Firing -}}
  {{ if eq .Labels.severity "warning" }}:warning: {{ end -}}
  {{ if eq .Labels.severity "critical" }}:fire: {{ end -}}
  {{ .Annotations.description }} (<{{ .GeneratorURL }}|Graph>)
{{ end -}}
{{ end -}}
{{ if eq .Status "resolved" -}}
{{ range .Alerts.Resolved -}}
  :white_check_mark: {{ .Annotations.description }}
{{ end -}}
{{ end -}}

{{ if .CommonLabels.dashboard }}*<https://grafana.{{ .CommonLabels.region }}.cloud.sap/dashboard/db/{{ .CommonLabels.dashboard }}|Grafana>* {{ end -}}
{{ if .CommonLabels.sentry }}*<https://sentry.{{ .CommonLabels.region }}.cloud.sap/monsoon/{{ .CommonLabels.sentry }}|Sentry>* {{ end -}}
{{ if .CommonLabels.playbook }}*<https://operations.global.cloud.sap/{{ .CommonLabels.playbook }}|Playbook>* {{ end -}}
{{ end }}

{{ define "slack.sapcc.actionname" }}{{ if eq .Status "firing" }}reaction{{ end }}{{ end }}
{{ define "slack.sapcc.actiontype" }}{{ if eq .Status "firing" }}button{{ end }}{{ end }}

{{ define "slack.sapcc.silence8h.actiontext" }}{{ if eq .Status "firing" }}Silence for 8h{{ end }}{{ end }}
{{ define "slack.sapcc.silence8h.actionvalue" }}{{ if eq .Status "firing" }}silence8h{{ end }}{{ end }}

{{ define "slack.sapcc.silence7d.actiontext" }}{{ if eq .Status "firing" }}Silence for 7 days{{ end }}{{ end }}
{{ define "slack.sapcc.silence7d.actionvalue" }}{{ if eq .Status "firing" }}silence7d{{ end }}{{ end }}

{{ define "slack.sapcc.silence1month.actiontext" }}{{ if eq .Status "firing" }}Silence for 1 month{{ end }}{{ end }}
{{ define "slack.sapcc.silence1month.actionvalue" }}{{ if eq .Status "firing" }}silence1month{{ end }}{{ end }}
