# This section defines default settings for how queries should be run.
# All settings can be overridden for any given query in its own section.
# The values shown in this example are also the fallback values used if
# a setting is not specified in the DEFAULT section or a query's section.
[DEFAULT]
# How often to run queries.
QueryIntervalSecs = 300

# How long to wait for a query to return before timing out.
QueryTimeoutSecs = 10

# The indices to run the query on.
# Any way of specifying indices supported by your Elasticsearch version can be used.
QueryIndices = _all

# What to do if a query throws an error. One of:
# * preserve - keep the metrics/values from the last successful run.
# * drop - remove metrics previously produced by the query.
# * zero - keep metrics previously produced by the query, but reset their values to 0.
QueryOnError = drop
# What to do if a metric produced by the previous run of a query is not present
# in the current run. One of:
# * preserve - keep the value of the metric from the last run it was present in.
# * drop - remove the metric.
# * zero - keep the metric, but reset its value to 0.
QueryOnMissing = zero

# Queries are defined in sections beginning with 'query_'.
# Characters following this prefix will be used as a prefix for all metrics
# generated for this query

[query_elasticsearch_octobus_keystone]
# The DEFAULT settings can be overridden.
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = c0001_log_keystone*
QueryJson = {
        "aggs": {
          "logs": {
             "terms": {
               "field": "kubernetes.container_name.keyword",
               "size": 30
            }
          }
        },
        "size": 0,
        "_source": {
          "excludes": []
        },
        "stored_fields": [
          "*"
        ],
        "script_fields": {},
        "docvalue_fields": [
          {
            "field": "@timestamp",
            "format": "date_time"
          },
          {
            "field": "time",
            "format": "date_time"
          }
        ],
        "query": {
          "bool": {
            "must": [
              {
                "match_all": {}
              },
              {
                "range": {
                  "@timestamp": {
                    "gt": "now-5m",
                    "format": "epoch_millis"
                  }
                }
              }
            ],
            "filter": [],
            "should": [],
            "must_not": []
          }
        }
    }

[query_elasticsearch_octobus_esx]
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = c0001_log-*
QueryJson = {
        "aggs": {
          "hostsystem": {
            "terms": {
              "field": "node.nodename.keyword",
              "order": {
                "_key": "asc"
              },
            "size": 500
            }
          }
        },
        "query": {
          "bool": {
            "filter": [
              {
                "exists": {
                  "field": "node.nodename"
                  }
              },
              {
                "range": {
                  "@timestamp": {
                    "gte": "now-2h",
                    "lte": "now-1h"
                  }
                }
              }
            ]
          }
        }
    }

[query_elasticsearch_octobus_vcsa]
QueryIntervalSecs = 300
QueryTimeoutSecs = 15
QueryIndices = c0001_log-*
QueryJson = {
        "aggs": {
          "vcenter": {
            "terms": {
              "field": "fqdn.keyword",
              "order": {
                "_key": "asc"
              },
            "size": 50
            }
          }
        },
        "query": {
          "bool": {
            "filter": [
              {
                "match": {
                  "fqdn": "vc"
                  }
              },
              {
                "range": {
                  "@timestamp": {
                    "gte": "now-2h",
                    "lte": "now-1h"
                  }
                }
              }
            ]
          }
        }
    }
